h1{
    text-align: center;
    color: rgb(222, 245, 226);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49, 124, 99);
    padding: 1em;
    border-radius: 15px;
}

.text1{
    color: rgb(37, 136, 90);
    text-align: center;
}

.text2{
    width: 270px;
    padding: 5px;
    background-color: rgb(220, 217, 226);
    border-radius: 15px;
    border-style: dashed;
    border-color: rgb(12, 74, 78);
    /* padding: 1px; */
}

#table{
    max-width: 100%; overflow: auto;

}

main{
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    color: rgb(61, 175, 141);
}

a:visited{
    color: rgb(61, 175, 141);
}

a:hover{
    color: rgb(3, 29, 32);
}

body{
    background-color: rgb(245, 245, 245);
}

.tb{
    background-color: rgb(220, 217, 226);
    padding-bottom: 20px;
    border-style: dashed;
    border-radius: 15px;
    border-color: rgb(12, 74, 78);
}

tr{
    color: rgb(26, 110, 110);
}

table{
    min-width: 500px;
}
th{
color: rgb(36, 107, 107);
}
#session{
    background-color: rgb(255, 255, 255);
    padding: 5px;
}